apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-app-library
spec:
  replicas: {{ .Values.app_library.replicaCount }}
  template: 
    metadata:
      labels:
        app: {{ .Release.Name }}-app-library
    spec:
      containers:
      - name: app-library-container
        image: '{{ .Values.app_library.image.repository }}:{{ .Values.app_library.image.tag }}'
        command: ["/bin/bash", "-c", "./bin/run.sh && /my_init"]
        ports:
        - containerPort: {{ .Values.app_library.service.internalPort }}
        env:
           - name: "GIT_BRANCH"
             value: {{ .Values.app_library.branch }} 
        resources:
{{ toYaml .Values.app_library.resources | indent 12 }}
